@model Game

@{
    ViewData["Title"] = "Game details";
}

<div class="col-md-8 offset-2">
    <div class="card mb-12" >
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-header text-white bg-info" style="background: darkblue !important;">
                    <p class="card-text">
                        <h5 class="card-title">
                            @Model.FullName
                        </h5>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="@Model.ImageURL" width="100%" alt="@Model.FullName">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">
                        <b style="border: 1px solid; background: lightslategrey; padding: 5px; color: #fff; border-radius: 5px; margin-right: 10px;">Producers: </b>
                        <a asp-controller="Producer" asp-action="Details" asp-route-id="@Model.ProducersId">
                            @Model.Producers.FullName
                        </a>
                    </p>
                    <p class="card-text">
                        <b style="border: 1px solid; background: lightslategrey; padding: 5px; color: #fff; border-radius: 5px; margin-right: 10px;">Author: </b>
                        <a asp-controller="Author" asp-action="Details" asp-route-id="@Model.AuthorsId">
                            @Model.Authors.FullName
                        </a>
                    </p>
                    <p class="card-text"><b style="border: 1px solid; background: lightslategrey; padding: 5px; color: #fff; border-radius: 5px; margin-right: 10px;">Category: </b>@Model.GameCategory</p>
                    <p class="card-text"><b style="border: 1px solid; background: lightslategrey; padding: 5px; color: #fff; border-radius: 5px; margin-right: 10px;">Game shop: </b>@Model.GameShops.Name</p>
                    <p class="card-text"><b style="border: 1px solid; background: lightslategrey; padding: 5px; color: #fff; border-radius: 5px; margin-right: 10px;">Premiere Date: </b>@Model.CreateDate.ToString("dd MMM yyyy")</p>
                    <p class="card-text"><b style="border: 1px solid; background: lightslategrey; padding: 5px; color: #fff; border-radius: 5px; margin-right: 10px;">Description: </b>@Model.Descritpion</p>
                    
                    
                    <a class="btn btn-outline-primary float-right" asp-action="Index">
                        Back To List
                    </a>
                    <a style="background-color: green; border-color: green;" class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@Model.Id">
                        <i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>

                </div>
            </div>
        </div>
    </div>
</div>
